# Self practice

You have now learnt the basic of python and you are ready to begin you journey.
Complete the below tasks to test your knowledge

1. Insert a code block. **[Hint: See lecture slide on Jupyter notebook]**
2. Insert a markdown block. **[Hint: See lecture slide on Jupyter notebook]**
3. Write an expression that uses all the python data types. **[Hint: See lecture slide Data types]**
4. Write a statement that uses two comparison operator and two logical operators. **[Hint: See sections Comparison operator and Logical operator]**
5. Given this DNA sequence "CGC_TAGCG_TT", print the complete sequence using a place holder (You can use any base for the missing two. **[Hint: See section More on string]**
6. Calculate the average age of 5 of your friends. **[Hint: See lecture slides]**
7. Write 10 lines of code with anything you want and demonstrate the different ways to commment a code.
8. Calculate square root of 20 divided by 4. **[Hint: Review the lecture and practical. Search online]**
9. Assign values to variables v1 and v2 examine the result of the expression v1+v2/v2, which operation occurred first and why?. **[Hint: See lecture on mathematical operations and ordering]**

# Remember to use markdown to comment on what you are doing.

Below are some example solutions. 
You can answer the same questions using different methods

# 1

In [ ]:
# I just inserted this code block using the + sign from top left.

# 2

I just inserted a defualt code block and converted to Markdown.

# 3

In [1]:
# The below code prints a string and using placeholder to insert an integer and float
print("I was born in {} and I don't like {} floats".format(90, float(3)))

I was born in 90 and I don't like 3.0 floats

# 4

In [2]:
# Here I assigned to variables
ben = 25
john = 15

# Here, I used the variables to perform a range of operations
(ben >= john) and (john == 15) or (john <= ben)

True

# 5

In [3]:
# Here, I used the placeholder function to replace the missing bases from the DNA sequence
print("CGC{}TAGCG{}TT".format("A", "G"))

CGCATAGCGGTT

# 6

In [4]:
# I performed the calculations with brackets to force order
(45 + 25 + 30 + 20 + 19) / 5
# The age of the friends could have been stored as list or tuple from lecture 2

27.8

# 7

In [5]:
# I will define some variables here
ben = 10
john = 15 # John is not quite my friend but I like to include him=.
# I will like to include Peter but after.
# peter = 20 # This a commented out code
# What is the age difference between ben and john
print("The age difference between ben and john is {}".format(ben - john))
# I will reuse the question 5 code as part of this
print("CGC{}TAGCG{}TT".format("U", "T")) # I think I have changed this to an RNA instead of DNA.

"""
I can also use this three quotation to put big text
"""
# The do some maths
out = 20 * 2
print(out - 2) # I operated on the out variable
str2 = "Helooo" # Set a string
# Set another string
str3 = "World"

# Operate on str2 and str3
print(str2 + str3)

The age difference between ben and john is -5
CGCUTAGCGTTT
38
HeloooWorld

# 8

In [6]:
# Here I can import a module to do certain things
# We will cover this properly in lecture 3
import math as mt

# Perform the operation 
(mt.sqrt(20)) / 4

1.118033988749895

# 9

In [2]:
# I set the variables as requested
v1 = 5
v2 = 3

# I perform the operation
v1+v2/v2

# Try the below to see the difference
(v1+v2)/v2

2.6666666666666665

In the above code the division happened first because of the BODMAS rule.